@media only screen and (min-width: 768px) {

img {
  width: auto;
  max-width: 500px;
}

figure {
  width: auto;
  justify-content: center;
}

.mobile-only {
  display: none;
}

.items_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.items_container .box {
  width: calc(50% - 40px);
  margin: 10px;
}

#转生女神 {
  display: flex;
}
#转生女神 figure {
  margin: 0 10px;
}
#转生女神 p {
  margin-left: 15px;
  margin-top: 0;
}

.race_header,
.race_clothes,
.race_skill {
  width: 50%;
}

.map-box {
  max-width: 500px;
}

.wrapper {
  flex-direction: row-reverse;
}
.wrapper.status_show_reverse {
  flex-direction: row;
}

.player_status {
  width: 20%;
  height: 100%;
  border-top: none;
  border-right: 2px solid #c1b91c;
  flex-direction: column;
  align-content: center;
}
.wrapper.status_show_reverse .player_status {
  border: none;
  border-left: 2px solid #c1b91c;
}

.player_status .race_name {
  width: auto; 
}
.player_status .effects {
  align-content: center;
  align-items: flex-start;
}
.player_status .controls {
  top: 15px;
  right: 0;
  flex-direction: column-reverse;
  height: fit-content;
}
.player_status .controls .btn {
  margin: 3px 0;
}

.player_status .effects .effect {
  margin: 5px;
  margin-top: 0;
}

.inventory {
  top: 30px;
  left: 100px;
  width: calc(100% - 200px);
  max-height: calc(100% - 60px);
}

}